.translucent-dark-form {
  background-color: rgba(0, 0, 0, 0); /* Dark background with 70% opacity */
  padding: 20px; /* Add padding for spacing */
}

.translucent-dark-form input {
  background-color: rgba(255, 255, 255, 0.7); /* Translucent input fields */
  border: none; /* Remove input borders if needed */
  padding: 10px; /* Add padding for spacing */
  color: white; /* Set text color to white */
}

